@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 12px; /* Genişlik */
}

/* Scrollbar arka planı */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 11px;
}

/* Scrollbar başparmağı (thumb) */
::-webkit-scrollbar-thumb {
    background: #292939;
    border-radius: 10px;
    border-right: 4px transparent solid;
    background-clip: padding-box;
}

/* Hover durumunda scrollbar başparmağı */
::-webkit-scrollbar-thumb:hover {
    background: #4d4d68;
    border-right: 4px transparent solid;
    background-clip: padding-box;
}
    /* linear-gradient(to bottom, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%); */
    html, body {
      @apply bg-brand-color text-brand-text-color dark:bg-white dark:text-brand-color
    }
}